

#page-container{
    display: flex;
    flex-direction: column;
    outline:solid 10px;
    outline-offset: -30px;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: #f8f8ff;
    color: #444444;
    font-family: 'Roboto', sans-serif;
}

#title-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

#title-container h1{
    font-size: 30px;
    padding:20px;
}

#title-container p{
    font-size: 20px;
    padding:20px;
}

#rps-list{
    display: flex;
    justify-content: center;
    
}
#rps-list li{
    padding: 15px;
    font-size: 40px;;
}

#main-content{
    margin-top: 40px;
    display: flex;
    width: 60%;
    justify-content: space-between;
   align-items: center;
}

.player-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.player-title{
    padding-bottom: 20px;
}
#score-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
    
}

#options-container{
    display:flex;
}


#options-list{
    margin:30px;
    display:flex;
    justify-content: center;
}
#options-list li{
    border:Solid;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    margin:10px;
    height:50px;
    animation: shadow-pulse 1s infinite;
}

#options-list .icon{
    
    display: block;
    padding:8px;
    font-size: 30px;
}

#options-list li:hover{
    transform: scale(1.1);
    border-color:green;
}

#playAgain{
    margin: 40px;
    padding:10px;
    width: 150px;
    height:50px;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    border:Solid;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    font-size: 20px;
    color: #444444;
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
     }
}

#playAgain:hover{
    transform: scale(1.1);
    border-color:green;
}
.hidden{
    display: none !important;
}

